
@model SolarSystem_GRP5.Models.ViewModels.PlanetInfoView

<link rel="stylesheet" href="~/css/infostyle.css">
<script src="~/js/InfoPage.js"></script>

@if (Model.Planet != null)
{
    <div>
        <img src="@Model.Planet.ImagePath">

        <div>
            <h1>@Model.PlanetInfo.Name</h1>
        
            <h2>@Model.Resources.StringValues["lang.planet.diameter"]</h2>
                <p>@Model.PlanetInfo.Diameter</p>

            <h2>@Model.Resources.StringValues["lang.planet.materials"]</h2>
                <p>@Model.PlanetInfo.Materials</p>

            <h2>@Model.Resources.StringValues["lang.planet.dist"]</h2>
                <p>@Model.PlanetInfo.Distance_from_sun</p>
 
            <h2>@Model.Resources.StringValues["lang.planet.moons"]</h2>
                <p>@Model.PlanetInfo.Moons</p>
           
            <h2>@Model.Resources.StringValues["lang.planet.atmosphere"]</h2>
                <p>@Model.PlanetInfo.Atmosphere</p>

            <h2>@Model.Resources.StringValues["lang.planet.desc"]</h2>
                <p>@Model.PlanetInfo.Description</p>
    
            <h2>Description</h2>
                <p>vdfdfjgdfhjkdfj huzifuz zrz uz  fzsdfi  sdff ffsof fshuerguethuzguhsdjgdklub  giueueoee fzgdfgudgidofudf h dhdjk dhjkg dk kghfkg  dk k fh  gf hdh hjfhdjdfhkj</p>
        </div>
    </div>
}


