
@model SolarSystem_GRP5.Models.ViewModels.SolarSystemView

<link rel="stylesheet" href="~/css/SolarSystemStyle.css">
<link rel="stylesheet" href="~/css/stylelist.css">

<div class="container">
    
</div>

<div class="myList">
    <ul>
        <table id="info">
            <tr class="h1">
                <th><h1 style="opacity: 100% !important; font-size:2vw ">Planet list</h1></th>
            </tr>
            <tr>
                <th>
                    <button class="h2" type="button" id="sun" name="planet" onclick="send('sun')">@Model.Resources.StringValues["lang.solar.sun"]</button>

                </th>
            </tr>
            <tr>
                <th>
                    <button class="h2" type="button" id="mercury" name="planet">@Model.Resources.StringValues["lang.solar.mercury"]</button>

                </th>
            </tr>
            <tr>
                <th><button class="h2" type="button" id="venus" name="planet">@Model.Resources.StringValues["lang.solar.venus"]</button></th>

            </tr>
            <tr>
                <th><button class="h2" type="button" id="earth" name="planet">@Model.Resources.StringValues["lang.solar.earth"]</button></th>

            </tr>
            <tr>
                <th><button class="h2" type="button" id="mars">@Model.Resources.StringValues["lang.solar.mars"]</button></th>

            </tr>
            <tr>
                <th><button class="h2" type="button" id="jupiter" name="planet">@Model.Resources.StringValues["lang.solar.jupiter"]</button></th>

            </tr>
            <tr>
                <th><button class="h2" type="button" id="saturn" name="planet">@Model.Resources.StringValues["lang.solar.saturn"]</button></th>

            </tr>
            <tr>
                <th><button class="h2" type="button" id="uranus" name="planet">@Model.Resources.StringValues["lang.solar.uranus"]</button></th>

            </tr>
            <tr>
                <th><button class="h2" type="button" id="neptune" name="planet">@Model.Resources.StringValues["lang.solar.neptune"]</button></th>

            </tr>
            <tr>
                <th><button class="h2" type="button" id="pluto" name="planet"> Pluto </button></th>

            </tr>

        </table>
    </ul>
</div>

<div class="myBox opening hide-UI view-2D zoom-large data-close controls-close">
    <div id="universe" class="scale-stretched">
        <div id="galaxy">
            <div id="solar-system" class="earth">
                <div id="mercury" class="orbit" name="planet">
                    <div class="pos">
                        <div class="planet">
                            <dl class="infos">
                                <dt>Mercury</dt>
                                <dd><span></span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div id="venus" class="orbit" name="planet">
                    <div class="pos">
                        <div class="planet">
                            <dl class="infos">
                                <dt>Venus</dt>
                                <dd><span></span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div id="earth" class="orbit" name="planet">
                    <div class="pos">
                        <div class="orbit">
                            <div class="pos">
                                <div class="moon"></div>
                            </div>
                        </div>
                        <div class="planet">
                            <dl class="infos">
                                <dt>Earth</dt>
                                <dd><span></span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div id="mars" class="orbit" name="planet">
                    <div class="pos">
                        <div class="planet">
                            <dl class="infos">
                                <dt>Mars</dt>
                                <dd><span></span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div id="jupiter" class="orbit" name="planet">
                    <div class="pos">
                        <div class="planet">
                            <dl class="infos">
                                <dt>Jupiter</dt>
                                <dd><span></span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div id="saturn" class="orbit" name="planet">
                    <div class="pos">
                        <div class="planet">
                            <div class="ring"></div>
                            <dl class="infos">
                                <dt>Saturn</dt>
                                <dd><span></span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div id="uranus" class="orbit" name="planet">
                    <div class="pos">
                        <div class="planet">
                            <dl class="infos">
                                <dt>Uranus</dt>
                                <dd><span></span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div id="neptune" class="orbit" name="planet">
                    <div class="pos">
                        <div class="planet">
                            <dl class="infos">
                                <dt>Neptune</dt>
                                <dd><span></span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div id="sun" name="planet">
                    <dl class="infos">
                        <dt>Sun</dt>
                        <dd><span></span></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="">
    <table id="table">
        <tr class="quiz">
            <th id="quiz">Quiz</th>
        </tr>
    </table>
</div>
<script src="~/js/ClickablePlanets.js"></script>
