
@model SolarSystem_GRP5.Models.ViewModels.SolarSystemView

<link rel="stylesheet" href="~/css/SolarSystemStyle.css">
<link rel="stylesheet" href="~/css/stylelist.css">

<div class="background">
</div>
<div class="myList">
    <div class="PlanetList">
        <h1>Planet list</h1>
        <button id="sun" name="planet">@Model.Resources.StringValues["lang.solar.sun"]</button>
        <button id="mercury" name="planet">@Model.Resources.StringValues["lang.solar.mercury"]</button>
        <button id="venus" name="planet">@Model.Resources.StringValues["lang.solar.venus"]</button>
        <button id="earth" name="planet">@Model.Resources.StringValues["lang.solar.earth"]</button>
        <button id="mars" name="planet">@Model.Resources.StringValues["lang.solar.mars"]</button>
        <button id="jupiter" name="planet">@Model.Resources.StringValues["lang.solar.jupiter"]</button>
        <button id="saturn" name="planet">@Model.Resources.StringValues["lang.solar.saturn"]</button>
        <button id="uranus" name="planet">@Model.Resources.StringValues["lang.solar.uranus"]</button>
        <button id="neptune" name="planet">@Model.Resources.StringValues["lang.solar.neptune"]</button>
        <button id="pluto" name="planet">@Model.Resources.StringValues["lang.solar.pluto"]</button>
    </div>
</div>

<div class="myBox opening hide-UI view-2D zoom-large data-close controls-close">
    <div id="universe" class="scale-stretched">
        <div id="galaxy">
            <div id="solar-system" class="earth">
                <div id="mercury" class="orbit" name="planet">
                    <div class="pos">
                        <div class="planet">
                            <dl class="infos">
                                <dt>Mercury</dt>
                                <dd><span></span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div id="venus" class="orbit" name="planet">
                    <div class="pos">
                        <div class="planet">
                            <dl class="infos">
                                <dt>Venus</dt>
                                <dd><span></span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div id="earth" class="orbit" name="planet">
                    <div class="pos">
                        <div class="orbit">
                            <div class="pos">
                                <div class="moon"></div>
                            </div>
                        </div>
                        <div class="planet">
                            <dl class="infos">
                                <dt>Earth</dt>
                                <dd><span></span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div id="mars" class="orbit" name="planet">
                    <div class="pos">
                        <div class="planet">
                            <dl class="infos">
                                <dt>Mars</dt>
                                <dd><span></span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div id="jupiter" class="orbit" name="planet">
                    <div class="pos">
                        <div class="planet">
                            <dl class="infos">
                                <dt>Jupiter</dt>
                                <dd><span></span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div id="saturn" class="orbit" name="planet">
                    <div class="pos">
                        <div class="planet">
                            <div class="ring"></div>
                            <dl class="infos">
                                <dt>Saturn</dt>
                                <dd><span></span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div id="uranus" class="orbit" name="planet">
                    <div class="pos">
                        <div class="planet">
                            <dl class="infos">
                                <dt>Uranus</dt>
                                <dd><span></span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div id="neptune" class="orbit" name="planet">
                    <div class="pos">
                        <div class="planet">
                            <dl class="infos">
                                <dt>Neptune</dt>
                                <dd><span></span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="sun" id="sun" name="planet">
                    <dl class="infos">
                        <dt>Sun</dt>
                        <dd><span></span></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="">
    <table id="table" onclick="Full()">
        <tr class="quiz">
            <th id="quiz">Quiz</th>
        </tr>
    </table>
</div>
<script src="~/js/Fullscreen.js"></script>
<script src="~/js/ClickablePlanets.js"></script>
